<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/fex  
        http://www.springframework.org/schema/fex/spring-fex-1.5.xsd  
        http://www.springframework.org/schema/task   
        http://www.springframework.org/schema/task/spring-task-3.0.xsd   
        http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 配置注解扫描的类,必须配置，否则扫描不到controller里面的注解  -->
	<context:component-scan base-package="cn.yarne.com.base">
		<!-- 扫描所有的controller 但是不扫描service -->
			<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
			<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
	
	<!-- 启动注解 -->
	<mvc:annotation-driven />
	
	<!-- 配置mvc视图解析 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 访问静态资源配置，因为在web.xml中，我配置mvc拦截的时候用的是/,所以会将所有的访问都会拦截， 一些静态资源会被拦截下来导致访问不到，所以需要配置 -->
	<mvc:resources location="/common" mapping="/**" />
	
	
	<mvc:resources mapping="/swagger-ui.html" location="classpath*:/META-INF/resources/" />
	<mvc:resources mapping="/**"
		location="/" />
</beans>