<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.yarne.com.base.mapper.HelloMapper">
  
  <select id="selectUsers" resultType="userModel">
  	select * from  users limit 0,1
  </select>
  
  <insert id="insertUsers" parameterType="userModel">
  	insert into users(name,age) values(#{name,jdbcType=VARCHAR},#{age,jdbcType=DECIMAL})
  </insert>
  
  </mapper>